.plus-btn
{
    -fx-fit-width: 100px;
    -fx-fit-height: 100px;
    -fx-background-fill: white;
    -fx-border-radius: 10px;
}
.search-field{
    -fx-min-width:500px;
    -fx-min-height:30px;
    -fx-pref-width:700px;
    -fx-pref-height:40px;
    -fx-border-radius:24px;
    -fx-background-radius: 24px;
}
.search-btn
{

}