.side-bar {
    -fx-background-color: #2c3e50;
    -fx-padding: 20;
    -fx-spacing: 20;
}

.header {
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.logo {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.restaurant-name {
    -fx-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.nav-menu {
    -fx-spacing: 10;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 12 15;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 10;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #34495e;
}

.nav-button:pressed {
    -fx-background-color: #2980b9;
}

.nav-button > .graphic {
    -fx-padding: 0 10 0 0; /* right padding of 10px */
}

Text {
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}