.side-bar {
    -fx-background-color: #fff;
    -fx-padding: 15 10;
    -fx-spacing: 20;
    -fx-border-fill: black;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 0, 2, 0, 0);
}

.name {
    -fx-font-size: 22px;
    -fx-font-weight: 500px;
    -fx-text-fill: #333;
}

.logo {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.restaurant-name {
    -fx-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.nav-menu {
    -fx-spacing: 10;
}

.nav-button {
     -fx-background-color: white;
     -fx-background-radius: 4px;
     -fx-border-radius: 4px;
     -fx-border-color: #dddddd;
     -fx-cursor: hand;
     -fx-padding: 8px 15px;
}

.button-text {
    -fx-fill: #666666; /* Gray text */
    -fx-font-size: 14px;
}

.nav-button:hover {
    -fx-background-color: #6666CC;
}

/* Hover state for text */
.nav-button:hover .button-text {
    -fx-fill: white;
}

/* Hover state for image */
.nav-button:hover .image-view {
    -fx-effect: dropshadow(gaussian, white, 0, 0, 0, 0); /* White icon when hovered */
}