.login-main-container
{
    -fx-alignment:center;
    -fx-background-color: #fff;
    -fx-hgap: 100px;
    -fx-vgap: 100px;
}
.login-info
{
    -fx-pref-width:400px;
    -fx-pref-height:350px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0.1), 4, 0, 0, 2),
                dropshadow(three-pass-box, rgba(0,0,0.1), 16, 0, 0, 8);
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: center;
}
.username
{
   -fx-font-size: 20px;
   -fx-border-radius: 10px;
   -fx-border-style: solid;
   -fx-pref-height: 50px;
   -fx-background-color: transparent;
}
/* Password field */
.password-container
{
    -fx-font-size: 20px;
    -fx-pref-height: 50px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-alignment: center-left;
}
.password
{
    -fx-background-color: white;
    -fx-background-radius: 10px ;
    -fx-pref-height: 45px;
    -fx-pref-width: 330px;
}
.show-password-btn
{
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
    -fx-background-color: transparent;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-border-color: transparent;
    -fx-background-image: url("../image/hidepassword.png");
    -fx-cursor: hand;
}
.show-password-btn:selected
{
    -fx-background-image: url("../image/showpassword.png");
}
/* Login button */
.login-button
{
    -fx-pref-height: 50px;
    -fx-pref-width: 360px;
    -fx-background-color: mediumblue ;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.forgot-password
{
    -fx-underline: true;
    -fx-fill: #1e90ff;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}
.logo-img{
    -fx-image: url("../image/logo.png");
    -fx-fit-width: 20px;
    -fx-fit-height: 20px;
}